language: ruby
rvm:
- 2.2.0
- 2.1.0
- 2.0.0
- 1.9.3
script:
 - 'rspec spec/git_fame_spec.rb --format documentation'
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/e2b034ea2dbc919b02f7
    on_success: change  # options: [always|never|change] default: always
    on_failure: change  # options: [always|never|change] default: always
    on_start: false     # default: false
